.card {
    border: 1px solid #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 380px;
    height: 680px;
    margin-bottom: 20px;
    border-bottom: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cardimage {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #fff;
}

.cardsec {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.cardname {
    padding-left: 20px;
    font-size: 2rem;
    font-weight: 700;
    align-self: flex-start;
    line-height: 0ch;
}

.carddesc {
    padding-left: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.price {
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.pricetxt {
    font-size: 2rem;
    font-weight: 700;
}

.cardcta {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    justify-self: flex-end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}